<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>Web</display-name>
	<servlet>
	    <servlet-name>UploadFileServlet</servlet-name>
	    <servlet-class>vn.gmobile.uniboard.web.UploadFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>UploadFileServlet</servlet-name>
	    <url-pattern>/uploadfile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ActionServlet</servlet-name>
		<servlet-class>vn.gmobile.uniboard.web.ActionServlet</servlet-class>
		<init-param>
			<param-name>/login</param-name>
			<param-value>vn.gmobile.uniboard.message.LoginRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/getuser</param-name>
			<param-value>vn.gmobile.uniboard.message.UserGetRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/getfunc</param-name>
			<param-value>vn.gmobile.uniboard.message.MenuFunctionGetRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/updateuser</param-name>
			<param-value>vn.gmobile.uniboard.message.UserUpdateRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/getprofile</param-name>
			<param-value>vn.gmobile.uniboard.message.ProfileGetRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/updateprofile</param-name>
			<param-value>vn.gmobile.uniboard.message.ProfileUpdateRequest</param-value>
		</init-param>
		
		<init-param>
			<param-name>/getprivatelist</param-name>
			<param-value>vn.gmobile.uniboard.message.PrivateListGetRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/addprivatelist</param-name>
			<param-value>vn.gmobile.uniboard.message.PrivateListAddRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/removeprivatelist</param-name>
			<param-value>vn.gmobile.uniboard.message.PrivateListRemoveRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/getprivatelistmember</param-name>
			<param-value>vn.gmobile.uniboard.message.PrivateListMemberGetRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/addprivatelistmember</param-name>
			<param-value>vn.gmobile.uniboard.message.PrivateListMemberAddRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/removeprivatelistmember</param-name>
			<param-value>vn.gmobile.uniboard.message.PrivateListMemberRemoveRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/getcommondirtree</param-name>
			<param-value>vn.gmobile.uniboard.message.CommonDirTreeGetRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/getcommondirtreepermission</param-name>
			<param-value>vn.gmobile.uniboard.message.CommonDirTreeGetPermissionRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/getcommondir</param-name>
			<param-value>vn.gmobile.uniboard.message.CommonDirGetRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/addcommondir</param-name>
			<param-value>vn.gmobile.uniboard.message.CommonDirAddRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/removecommondir</param-name>
			<param-value>vn.gmobile.uniboard.message.CommonDirRemoveRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/updatecommondir</param-name>
			<param-value>vn.gmobile.uniboard.message.CommonDirUpdateRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/getcommondirmember</param-name>
			<param-value>vn.gmobile.uniboard.message.CommonDirMemberGetRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/addcommondirmember</param-name>
			<param-value>vn.gmobile.uniboard.message.CommonDirMemberAddRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/removecommondirmember</param-name>
			<param-value>vn.gmobile.uniboard.message.CommonDirMemberRemoveRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/sendsmscampaign</param-name>
			<param-value>vn.gmobile.uniboard.message.SendSmsCampaignRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/commondirmemberaddfromexcel</param-name>
			<param-value>vn.gmobile.uniboard.message.CommonDirMemberAddFromExcelRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/movecommondirmember</param-name>
			<param-value>vn.gmobile.uniboard.message.CommonDirMemberMoveRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/getcampaignlist</param-name>
			<param-value>vn.gmobile.uniboard.message.CampaignGetRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/getcampaignsmshistory</param-name>
			<param-value>vn.gmobile.uniboard.message.CampaignSmsHistoryGetRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/addsmscampaign</param-name>
			<param-value>vn.gmobile.uniboard.message.CampaignSmsAddRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/removesmscampaign</param-name>
			<param-value>vn.gmobile.uniboard.message.CampaignSmsRemoveRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/getreport</param-name>
			<param-value>vn.gmobile.uniboard.message.CampaignHistoryReportGetRequest</param-value>
		</init-param>
		<init-param>
			<param-name>/cancelsmscampaign</param-name>
			<param-value>vn.gmobile.uniboard.message.CampaignSmsCancelRequest</param-value>
		</init-param>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/getuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/getprofile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/getfunc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/updateuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/updateprofile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/getprivatelist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/addprivatelist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/removeprivatelist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/getprivatelistmember</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/addprivatelistmember</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/removeprivatelistmember</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/getcommondirtree</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/getcommondirtreepermission</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/getcommondir</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/addcommondir</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/removecommondir</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/updatecommondir</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/getcommondirmember</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/addcommondirmember</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/removecommondirmember</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/sendsmscampaign</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/commondirmemberaddfromexcel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/movecommondirmember</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/getcampaignlist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/getcampaignsmshistory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/addsmscampaign</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/removesmscampaign</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/getreport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/cancelsmscampaign</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>vn.gmobile.uniboard.web.listener.ContextListner</listener-class>
	</listener>
</web-app>